<div class="container-fluid body-background">
  <div class="container pt-3">
    <div class="cardUncle">
      <!-- Job Listings -->
      <h2> JOBS</h2>
      <div class="col-6 job" *ngFor="let job of jobs">
        <!-- Job Card -->
        <div class="job-card mb-3">
          <div class="card">
            <div class="card-body">
              <div class="text-decoration-none text-dark">
                <div class="row">
                  <div class="col-8">
                    <h3 class="mb-0">{{ job.title }}</h3>
                    <p class="cName">{{ job.department }}</p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4"><i class="fa fa-suitcase" style="color: blue;"></i> {{ job.experience }}</div>
                  <div class="col-4"><i class="fa fa-inr" style="color: green;"></i> ₹ {{ job.salary }} </div>
                  <div class="col-4"><i class="fa fa-map-marker" style="color: sandybrown;"></i> {{ job.location }}</div>
                </div>
                <div class="row pt-1">
                  <div class="col-12 des">
                    <i class="fa fa-file-text-o"></i> <span class="text-muted">{{ job.description }}</span>
                  </div>
                </div>
                <div class="row pt-1">
                  <button class="col-6 text">Apply</button>
                  <div class="col-6 text-end bm"><i class="fa fa-bookmark"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
     
    </div>
  </div>
</div>
