<div class="container mt-5">
  <h3 class="text-center mb-4">Job Application Form</h3>
  <div class="row justify-content-center">
    <div class="col-md-6 p-4 border rounded bg-light shadow">
      <form [formGroup]="jobForm" (ngSubmit)="Submit()">
        <div class="mb-3">
          <label class="form-label">Job Title</label>
          <input type="text" formControlName="title" class="form-control" placeholder="Enter the job title" required />
        </div>

        <div class="mb-3">
          <label class="form-label">Years of Experience</label>
          <input type="number" formControlName="experience" class="form-control" placeholder="Enter your years of experience" required />
        </div>
        
        <div class="mb-3">
          <label class="form-label">Company</label>
          <input type="text" formControlName="department" class="form-control" placeholder="Enter company" required />
        </div>

        <div class="mb-3">
          <label class="form-label">Job Description</label>
          <textarea formControlName="description" class="form-control" placeholder="Enter job description" required></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">Location</label>
          <input type="text" formControlName="location" class="form-control" placeholder="Enter job location" required />
        </div>

        <div class="mb-3">
          <label class="form-label">Salary</label>
          <input type="text" formControlName="salary" class="form-control" placeholder="Enter salary" required />
        </div>

        <div class="mt-16">
          <button
            type="button"
            class="bg-blue-500 text-blue px-4 py-2 rounded hover:bg-blue-600"
            (click)="Submit()">
            Post Job
          </button>
        </div>
      
      </form>
    </div>
  </div>
</div>
